.topo-agendamentos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.lista-agendamentos {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
